# Remove DATABASE_URL entirely if you're hosting with docker compose. (Leave it if you wish to override the database created with compose)
DATABASE_URL=postgresql://host:password@localhost:5432/feedbase
BETTER_AUTH_URL=http://localhost:3000 # no trailing slash
BETTER_AUTH_SECRET=super-awesome-betterauth-secret # Change this (generate with openssl rand -base64 32)

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_WEBHOOK_URL=
DISCORD_GUILD_ID=

# Awesome docker compose environment variables.
# Uncomment and set these if you're using docker compose. Otherwise, you can leave them as is.
# POSTGRES_PASSWORD=superawesomepassword
# POSTGRES_USER=postgres
# POSTGRES_DB=feedbase
# POSTGRES_PORT=5432
